* {
  font-family: 'fraunces', serif;
  font-weight: 100px;
  color: #0b0b0b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51vh;
}

/* light-mode */

main.light section div.container div.calculadora {
  background: url(../imgs/Calculator/white-Swich_to_light_Team.svg) no-repeat center;
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: 160px repeat(6, 65px);
  padding: 15px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #000000;

}
main.light section div.container label.mycheckbox {
  background: url(../imgs/Calculator/black-Swich_to_light_Team.svg) no-repeat center;
}

main.light section div.container div.calculadora button.divi {
  background: url(../imgs/Calculator/white-operador-division.svg) no-repeat center;

}

main.light section div.container div.calculadora button.clear {
  background: url(../imgs/Calculator/white-white-number-C.svg) no-repeat center;
}

main.light section div.container div.calculadora button.back {
  background: url(../imgs/Calculator/white-number-flecha.svg) no-repeat center;
}

main.light section div.container div.calculadora button.prod {
  background: url(../imgs/Calculator/white-operador-por.svg) no-repeat center;
}

main.light section div.container div.calculadora button.num3 {
  background: url(../imgs/Calculator/white-number-3.svg) no-repeat center;
}

main.light section div.container div.calculadora button.num9 {
  background: url(../imgs/Calculator/white-number-9.svg) no-repeat center;
}

main.light section div.container div.calculadora button.num7 {
  background: url(../imgs/Calculator/white-number-7.svg) no-repeat center;
}

main.light section div.container div.calculadora button.num6 {
  background: url(../imgs/Calculator/white-number-6.svg) no-repeat center;
}

main.light section div.container div.calculadora button.num5 {
  background: url(../imgs/Calculator/white-number-5.svg) no-repeat center;
}

main.light section div.container div.calculadora button.num4 {
  background: url(../imgs/Calculator/white-number-4.svg) no-repeat center;
}

main.light section div.container div.calculadora button.num3 {
  background: url(../imgs/Calculator/white-number-3.svg) no-repeat center;
}

main.light section div.container div.calculadora button.num2 {
  background: url(../imgs/Calculator/white-number-2.svg) no-repeat center;
}

main.light section div.container div.calculadora button.num1 {
  background: url(../imgs/Calculator/white-number-1.svg) no-repeat center;
}

main.light section div.container div.calculadora button.n0 {
  background: url(../imgs/Calculator/white-number-0.svg) no-repeat center;
}

main.light section div.container div.calculadora button.num8 {
  background: url(../imgs/Calculator/white-number-8.svg) no-repeat center;
}

main.light section div.container div.calculadora button.punto {
  background: url(../imgs/Calculator/white-number-punto.svg) no-repeat center;
}

main.light section div.container div.calculadora button.equal {
  background: url(../imgs/Calculator/white-operador-igual.svg) no-repeat center;
}

main.light section div.container div.calculadora button.plus {
  background: url(../imgs/Calculator/white-operador-mas.svg) no-repeat center;
}

main.light section div.container div.calculadora button.subs {
  background: url(../imgs/Calculator/white-operador-menos.svg) no-repeat center;
}
main.light section div.container div.display  {
  background: url(../imgs/Calculator/white-pantalla.svg) no-repeat center;
  grid-column: 1 / -1;
  padding: 16px;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 30px;
  justify-content: space-between;
  word-break: break-all;
}
/* Dark-mode */
main.dark section div.container div.calculadora {
  background: url(../imgs/Calculator/bg-black-Calculator.svg) no-repeat center;
  transition: background-color 0.5s ease-in;
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: 160px repeat(6, 65px);
  padding: 15px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #000000;
}
main.dark section div.container label.mycheckbox {
  background: url(../imgs/Calculator/black-Swich_to_light_Team.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.divi {
  background: url(../imgs/Calculator/black-operador-division.svg) no-repeat center;

}

main.dark section div.container div.calculadora button.clear {
  background: url(../imgs/Calculator/black-number-C.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.back {
  background: url(../imgs/Calculator/black-number-flecha.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.prod {
  background: url(../imgs/Calculator/black-operador-x.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num3 {
  background: url(../imgs/Calculator/black-number-3.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num9 {
  background: url(../imgs/Calculator/black-number-9.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num7 {
  background: url(../imgs/Calculator/black-number-7.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num6 {
  background: url(../imgs/Calculator/black-number-6.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num5 {
  background: url(../imgs/Calculator/black-number-5.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num4 {
  background: url(../imgs/Calculator/black-number-4.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num3 {
  background: url(../imgs/Calculator/black-number-3.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num2 {
  background: url(../imgs/Calculator/black-number-2.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num1 {
  background: url(../imgs/Calculator/black-number-1.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.n0 {
  background: url(../imgs/Calculator/black-number-0.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num8 {
  background: url(../imgs/Calculator/black-number-8.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.num2 {
  background: url(../imgs/Calculator/black-number-2.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.punto {
  background: url(../imgs/Calculator/black-number-punto.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.equal {
  background: url(../imgs/Calculator/black-operador-igual.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.plus {
  background: url(../imgs/Calculator/black-operador-mas.svg) no-repeat center;
}

main.dark section div.container div.calculadora button.subs {
  background: url(../imgs/Calculator/black-operador-menos.svg) no-repeat center;
}
main.dark section div.container div.display  {
  background: url(../imgs/Calculator/black-pantalla.svg) no-repeat center;
  grid-column: 1 / -1;
  padding: 16px;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 30px;
  justify-content: space-between;
  word-break: break-all;
}

button {
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 30px;
  font-size: 1.5em;
  border: none;
 
}

.clear {
  grid-column: span 2;
}

button.equal {
  grid-row: span 2;
}

button:active {
  background-color: #ede3e3;
}

button:focus {
  outline: none;
}

h3 {
  color: #F5F5F5;
  font-size: 12px;     

  /* el css del boton checkbox*/  
}
.mycheckbox input:checked ~ span::after{
  background: rgb(12, 167, 12);
  transform: scale(0.85) translate(35px);
}
.mycheckbox input:checked ~ span .on{
  transform: translate(30px);
  opacity: 1;
}

.mycheckbox input:checked ~ span .off{
  transform: translate(30px);
  opacity: 0;
}

.mycheckbox input:checked ~ span .on-bell{
  transform: translate(31px);
}

.mycheckbox input {
  display: none;
}

.mycheckbox span {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background: rgb(187, 186, 186);
  cursor: pointer;
  box-shadow: inset 0px 0px 2px rgb(15, 15, 15);

  position: relative;
}

.mycheckbox span::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  transform: scale(0.85);
  border-radius: 30px;
  background: rgb(248, 22, 22);
  transition: 0.5s;
  box-shadow: inset 0px 0px 2px rgb(37, 37, 37);
}

.mycheckbox i {
  position: absolute;
  left: 7px;
  top: 7px;
  z-index: 1;
  color: white;
  transition: 0.5s;
}

.mycheckbox .on {
  opacity: 0;
  left: 7px;
  top: 7px;
}
output.result {
  background-color: aqua;
  height: 60px;
}
.operation {
  background-color: aqua;
}
