figure.title {
    background: url(imgs/one-punh-man.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 732px;
    height: 180px;
    margin: 0 auto;
}

section.sataima div {
    border: 2px solid #fff;
    display: inline-block;
    height: 170px;
    width: 170px;
    margin: 15px auto;
}

div.red {
    background: url(imgs/saitama-rojo.jpg) no-repeat;
    background-position: -56px -1px;
    font-size: 150%;
    margin-left: 20px;
    position: relative;
}

div.green {
    background: url(imgs/sataima-verde.png) no-repeat;
    background-repeat: no-repeat;
    background-position: -76px 0px;
    font-size: 150%;
    margin-left: 20px;
    position: relative;
}

div h4 {
    background-position: bottom;
    background-color: rgba(7, 4, 4, 0.6);
    opacity: 30.7;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 25%;
    position: absolute;
    width: 100%;
    bottom: -12px;
}

div h4:hover {
    height: 40%;
    background-color: rgba(70, 67, 67, 0.6);
    cursor: pointer;
}

div.sensei {
    margin-top: 20px;
    height: 170px;
    width: 50px;
}

div.genos {
    margin-top: 20px;
    height: 170px;
    position: relative;
}

.img1 {
    background-image: url(imgs/sataima.jpg);
    width: 170px;
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.img2 {
    background-image: url(imgs/genos.png);
    float: right;
    width: 170px;
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    width: 70%;
}

.row-decoration {
    padding: 6px;
    margin-bottom: 6px;
}

section.prueba div {
    width: 80%;
    align-content: center;
}